@model IEnumerable<ESTeSoccer.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Jogadores </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Playerid">Details</a> |

            </td>
        </tr>
}
    </tbody>
</table>
