@model IEnumerable<MiniESTS.Models.Loja>

@{
    ViewData["Title"] = "Index";
}

<h1>Lojas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LojaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LojaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LojaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
